:root {
    --color-primary-dark: #575D65;
    --color-secondary-grey: #979797;
    --color-secondary-brown: #BAA598;
    --color-secondary-black: #363636;
    --color-border-grey: #E5E5E5;
    --color-white: #FFFFFF;
}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;